body {
    font-family: Helvetica;
    background-color: aliceblue;
    max-width: 600px;
    margin: auto;
}

#gameTitle {
    color: rgb(45, 40, 115);
    background-color: rgb(190, 220, 255);
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(60, 50, 115, 0.300);
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: auto;
    width: 450px;
    height: 450px;
}

.grid-item {
    padding: 10px;
    width: 140px;
    height: 140px;
    background-color: whitesmoke;
    border: 2px solid black;
    font-size: 100px;
}

img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }